<%- include('../partials/_header.ejs') %>

<h1>Ajout d un message </h1>

<form method="post">
    <div>
        <label for="pseudo">Pseudo : </label>
        <input type="text" name="pseudo" id="pseudo" value="<%= data['pseudo'] %>" required>
        <% if(errors && errors['pseudo']) { %>
        <span class="label-error">le pseudo est requis !</span>
        <% } %>
    </div>
    <div>
        
        <label for="msg">Message: </label>
        <input type="text" name="msg" id="msg" value="<%= data['msg'] %>" required>
        <% if (errors && errors['msg']) { %>
            <span class="label-error">Le message est requis !</span>
        <% } %>
    </div>
    </div>
    <button type="submit">ENVOYER</button>
    </div>
</form>





<%- include('../partials/_footer.ejs') %>